*{
    padding: 0%;
    margin: 0%;
}
.admininfo{
    margin-top: 420px;
    text-align: center;
    border: 0.5px solid rgb(0, 0, 0);
    border-radius: 12px ;
}
.btns{
    color: black;
    background-color: blue;
    height: 45px;
    width: 90px;
    cursor: pointer;
    
}
.username{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}