server:
  port: 8091
spring:
  datasource: 
    url: jdbc:mysql://localhost:3306/kafkadb
    username: root
    password: adith
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  kafka:
    consumer:
      bootstrap-servers: localhost:9092
      group-id: group_id
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring:
          json:
            use:
              type:
                headers: false
            trusted:
              packages: "com.stackroute.*"
            value:
              default:
                type: com.stackroute.dataanalyticsservice.model.BankRecieveModel


   

